{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% block title %}
    Top Gainers
{% endblock title %}
{% block content %}
    <div class="mx-4 xl:mx-auto mt-8 xl:max-w-screen-xl xl:w-full xl:space-x-0 xl:justify-between">
        {% if messages %}
            {% for msg in messages %}
                <div role="alert" class="alert alert-{{ msg.tags }} my-4">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         class="h-6 w-6 shrink-0 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                        </path>
                    </svg>
                    <span class="text-sm">{{ msg }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <h1 class="text-3xl font-bold text-white w-full text-center mb-6">Top Gainers</h1>
        <div class="flex flex-col gap-2 mb-6">
            <form method="get" action="{% url 'stock:equityTopGainers' %}">
                <div class="mb-2 form-control">
                    {{ form.stock_exchange|add_label_class:"label text-white text-xs md:text-sm" }}
                    {% render_field form.stock_exchange class="select bg-gray-50 text-gray-900 text-xs md:text-sm" %}
                </div>
                <button type="submit" class="btn btn-success text-xs">Filter</button>
            </form>
        </div>
        <div class="flex flex-col gap-2 mt-8 mb-6">
            <div class="text-center mb-2">
                <h3 class="text-xl font-bold text-gray-100">Stock Exchange - {{ stock_exchange }}</h3>
            </div>
            <div class="overflow-x-auto no-scrollbar">
                <table class="z-0 table table-zebra table-xs lg:table-md table-pin-rows table-pin-cols min-w-full">
                    <thead>
                        <tr>
                            <th></th>
                            <td>Name</td>
                            <td>Curr Price</td>
                            <td>Day Change</td>
                            <td>% Change</td>
                            <td>Prev Close</td>
                            <td>Open</td>
                            <td>High</td>
                            <td>Low</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for symbol, quote in gainers.items %}
                            <tr id="row-{{ forloop.counter }}">
                                <th>{{ forloop.counter }}</th>
                                <td id="name-{{ forloop.counter }}">
                                    <a>
                                        {% if quote.longName %}
                                            {{ quote.longName|upper }}
                                        {% else %}
                                            {{ quote.shortName|upper }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td id="price-{{ forloop.counter }}" class="{{ quote.colorClass }}">₹{{ quote.lastPrice|floatformat:2|intcomma }}</td>
                                <td id="change-{{ forloop.counter }}" class="{{ quote.colorClass }}">
                                    {% if quote.dayChange >= 0 %}
                                        +{{ quote.dayChange|floatformat:2|intcomma }}
                                    {% else %}
                                        {{ quote.dayChange|floatformat:2|intcomma }}
                                    {% endif %}
                                </td>
                                <td id="percent-{{ forloop.counter }}" class="{{ quote.colorClass }}">
                                    {% if quote.dayChangePercentage >= 0 %}
                                        +{{ quote.dayChangePercentage|floatformat:2|intcomma }}%
                                    {% else %}
                                        {{ quote.dayChangePercentage|floatformat:2|intcomma }}%
                                    {% endif %}
                                </td>
                                <td>₹{{ quote.previousClose|floatformat:2|intcomma }}</td>
                                <td>₹{{ quote.open|floatformat:2|intcomma }}</td>
                                <td>₹{{ quote.dayHigh|floatformat:2|intcomma }}</td>
                                <td>₹{{ quote.dayLow|floatformat:2|intcomma }}</td>
                                <th>{{ forloop.counter }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <td>Name</td>
                            <td>Curr Price</td>
                            <td>Day Change</td>
                            <td>% Change</td>
                            <td>Prev Close</td>
                            <td>Open</td>
                            <td>High</td>
                            <td>Low</td>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        function updateTopGainers(data) {
            const quotes = data || {};

            Object.entries(quotes).forEach(([index, quote], idx) => {
                const rowId = `row-${idx + 1}`;
                const row = document.getElementById(rowId);

                if (row) {
                    const nameCell = document.getElementById(`name-${idx + 1}`);
                    if (nameCell) {
                        nameCell.innerHTML = `
                            <a>
                                ${quote.longName ? quote.longName.toUpperCase() : quote.shortName.toUpperCase()}
                            </a>`;
                    }

                    const priceCell = document.getElementById(`price-${idx + 1}`);
                    if (priceCell) {
                        priceCell.textContent = `₹${parseFloat(quote.lastPrice).toLocaleString('en-IN', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        })}`;
                    }

                    const changeCell = document.getElementById(`change-${idx + 1}`);
                    if (changeCell) {
                        const change = parseFloat(quote.dayChange).toLocaleString('en-IN', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        });
                        changeCell.textContent = `${quote.dayChange >= 0 ? '+' : ''}${change}`;
                    }

                    const percentCell = document.getElementById(`percent-${idx + 1}`);
                    if (percentCell) {
                        const dayChangePercentage = parseFloat(quote.dayChangePercentage);
                        percentCell.textContent = `${dayChangePercentage >= 0 ? '+' : ''}${dayChangePercentage.toFixed(2)}%`;
                    }

                    const colorClass = quote.dayChange >= 0 ? 'text-green-500' : 'text-red-500';
                    [priceCell, changeCell, percentCell].forEach(cell => {
                        if (cell) {
                            cell.classList.remove('text-green-500', 'text-red-500');
                            cell.classList.add(colorClass);
                        }
                    });
                }
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            {% if is_market_open %}
                const socketUrl = `wss://${window.location.host}/ws/topEquityGainersQuotes20/?stock_exchange={{ stock_exchange }}`;
                const socket = new WebSocket(socketUrl);

                socket.onopen = function () {
                    console.log("WebSocket connection established");
                };

                socket.onmessage = function (event) {
                    try {
                        const data = JSON.parse(event.data);
                        updateTopGainers(data);
                    } catch (error) {
                        console.error("Error parsing WebSocket message:", error);
                    }
                };

                socket.onclose = function () {
                    console.log("WebSocket connection closed");
                };

                socket.onerror = function (error) {
                    console.error("WebSocket error:", error);
                };
            {% else %}
                console.log("Market is closed. Not connecting to WebSocket.");
            {% endif %}
        });
    </script>
{% endblock script %}
